<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angel Toolset</title>

    <!-- CSS CDNs -->
    <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href = "landing_page.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- Angular CDNs -->
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>



</head>
<body>

    <span class="col-md-2"></span>
    <h1 class="col-md-8 text-center" id="logo">Angel Toolkit</h1>
    <span class="col-md-2"></span>

    <span class="col-md-2"></span>
    <p class="col-md-8 text-center" id="team_name">Presented by vest.in</p>
    <span class="col-md-2"></span>


</body>
</html>