<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
    <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!-- Angular CDNs -->
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>


</head>
<body ng-app="">
    <nav>
        <h3 id="navbar">Angel Toolkit</h3>
    </nav>
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>

</body>
</html>